<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "Q77J2DAL28.com.sam.ballgame"
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Ball Game</name>

    <description>
        My first app game
    </description>

    <author href="http://samternent.co.uk" email="sam.ternent@gmail.com">
        Sam Ternent
    </author>

</widget>

